*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

html,body,.page1{
    width:100%;
    height:100%;
    font-family: "Source Serif 4";
}



#nav{
    display: flex;
    width:100%;
    height:5vw;
    font-family:  "Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding:1.2vw;
}

.nav-part1,.nav-part2{
    width: 60vw;
    /* background-color: blueviolet; */
}

.nav-part1,.nav-part2{
    display: flex;
}

#nav img{
    height: 3.5vw;
    margin-top: -.5vw;
    align-items: center;
}

.nav-part1{
    justify-content: flex-start;
    align-items: center;
    font-size: 0.7vw;
    padding-left:1.5vw;
}

.nav-part1 h2{
    padding:0 2.2vw 0 0;
    font-size: 1vw;
}

.nav-part2{
    justify-content: flex-end;
    align-items: center;
    padding-right:2vw;
}

#nav button{
    padding:0.8vw 1vw;
    border-radius: 1vw;
    border: none;
    font-weight: 600;
}

.login{
    margin-right: 1vw;
}

.signup{
    background-color: #0D0C22;
    color:white;
}

.center{
    width:100%;
    height: calc(100% - 5vw);
}

.center h4{
    background-color: pink;
width: fit-content;
margin-top: 5vw;
    padding:0.5vw 1vw;
    border-radius: 1vw;
    position: relative;
    left:50%;
    font-size: 1.1vw;
    transform: translateX(-50%);
    margin-bottom: 2.5vw;
    
}

.center h1{
    text-align: center;
    font-size: 4.8vw;
    font-weight: 500;
    margin-bottom: 2vw;
}

.center h3{
    text-align: center;
    font-size: 1.4vw;
    font-weight: 500;
    margin-bottom: 1.8vw;
}

.center button{
    padding:1.2vw 2.4vw;
    border-radius: 2.5vw; 
    background-color: #0D0C22;
    color:white;
    position: relative;
    left:50%;
    transform: translateX(-50%);
}